@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}
.cont{
    background-color: #6A9C89;
    border-radius: 20px;
    width: 60%;
    height: 400px;
    color: #FFF5E4;
    font-weight: bold;
}

.new-cont{
    background-color: #FFA725;
    color: aqua;
    border-radius: 20px;
    width: 60%;
    height: 400px;
    color: #FFF5E4;
}