@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}

.header{
    background-color: #6A9C89;
    margin-top: 30px;
    width: 60%;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.header-tittle{
    margin: 10px;
    color: white;
}
.excuse{
    margin: 5px;
    background-color: #EC5228;
    width: 60%;
    height: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}
.background-random1{
    
    background-color: #60B5FF;

}
.background-random2{
   
    background-color: #FF8989 
}
.background-random3{
   
    background-color: #FFA725 
}
.background-random4{
    
    background-color: #E50046
}
.background-random5{
    
    background-color: #493D9E
}
.background-random6{
    
    background-color: #4C1F7A
}
.background-random7{
    
    background-color: #604652
}
#excuse{
    color: #EFEFEF;
    font-weight: 300;
    font-size: large;
}
.button{
    background-color: #00879E;
    border: none;
    color: white;
   
    padding: 5px;
    font-weight: 500;
    font-size: large;
}